@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light-esm";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(82% 0.111 230.318);
  --color-primary-content: oklch(29% 0.066 243.157);
  --color-secondary: oklch(86% 0.127 207.078);
  --color-secondary-content: oklch(30% 0.056 229.695);
  --color-accent: oklch(87% 0.01 258.338);
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --font-sora: "var(--font-sora)";
  --font-manrope: "var(--font-manrope)";
  --font-montserrat: "var(--font-montserrat)";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-spin-slow {
  animation: spin-slow 15s linear infinite;
}

.animation-spin-reverse {
  animation: spin-reverse 15s linear infinite;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}
